<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <!----------------------------------------------CSS GOBIERNO------------------------------------------------->
    <link href="https://framework-gb.cdn.gob.mx/gm/v4/image/favicon.ico" rel="shortcut icon">
    <link href="https://framework-gb.cdn.gob.mx/gm/v4/css/main.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/seguimientos.css') }}" rel="stylesheet">

    <!------------------------------------------ICONOS----------------------------------------------------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <title>Seguimientos - Emisión Avalúo</title>

</head>
<body>

    <!-- FIN DE CONTROLES INICIALES-->
    <main class="page">
<div class="container">

    <div style="margin: auto;" class="header-container">
                    <a href="https://www.gob.mx/buengobierno" target="_blank">
                        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Buen_gobierno.svg"
                            alt="Buen Gobierno">
                    </a>

                    <div id="sesion-header">
                        <span id="usuarioRFC">USUARIO: USUARIO123</span>
                        <button class="btn btn-danger btn-sm" onclick="cerrarSesion()">Cerrar sesión</button>
                    </div>
                </div>
                <br>
                <!-- Breadcrumbs alineado con formulario -->
                <ol style="margin: auto;" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home_buzon"><i class="icon icon-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Seguimiento</li>
                </ol>

                <!-- FIN DE BREADCUMS INICIO DE TABLA-->

<h2>Seguimientos - Todos los Registros de Emisión Avalúo</h2>
    <table border="1" cellpadding="4" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Clave Solicitud</th>
                <th>Clave del Avalúo Maestro</th>
                <th>Fecha Firmada</th>
                <th>Archivo Comprobante</th>
                <th>Resumen de Formulario</th>
                <th>Resumen de Firma Digital</th>
            </tr>
        </thead>
        <tbody>
            {% for r in registros %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.clave_solicitud }}</td>
                <td>{{ r.clave_avaluo_maestro }}</td>
                <td>{{ r.fecha_firmada }}</td>
                <td>{{ r.archivo_comprobante }}</td>
                <td>{{ r.cadena_original }}</td> 
                <td><pre>{{ r.firma_digital }}</pre></td>

                
            </tr>
            {% else %}
            <tr>
                <td colspan="12">No hay registros disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('home') }}">Volver al Home</a>
        

</div>

           
    </main>

 
        <!-----------------------------------------------SCRIPTS------------------------------------------------------->
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@4.0.1/dist/js/multi-select-tag.min.js"></script>
  <script src="{{ url_for('static', filename='nodecfdi/nodecfdi.js') }}"></script>
  <script src="https://framework-gb.cdn.gob.mx/gm/v4/js/gobmx.js"></script>
</body>
</html>
